* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(253, 221, 81);
    color: rgb(226, 26, 26);
    border: 10px solid rgb(226, 26, 26);
    height: 100%;

}
h1 {
    color: rgb(226, 26, 26);
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2rem;
}
li {
    text-align: center;
    padding: 4rem;
    font-size: 4rem;
    font-family:Arial, Helvetica, sans-serif;
}
footer {
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
header {
 color: red;
}
nav {
    padding: 1rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
hr {
    height: 0.5rem;
    color: rgb(226, 26, 26);
    background:rgb(226, 26, 26);
    font-size: 0;
    border: 0;
}
p {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
a {
    font-size: 2.5rem;
    color: rgb(226, 26, 26);
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}

button {
 background:none;
 border: none;
 position: fixed;
 left: 0;
 top: 0;
}
.dark {
  background-color: rgb(145, 20, 20);
  color: rgb(235, 212, 86);
  border: 10px solid rgb(209, 189, 74);
  hr {
color: rgb(255, 230, 88);
background: rgb(255, 230, 88);
border: 0;
font-size: 0;
  }
  h1 {
color: rgb(255, 230, 88);
  }
  a {
    color: rgb(255, 230, 88);
  }
}
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

#theme-toggle {
  transition: transform 0.4s ease;
}
h3 {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
}